:root {
  --color-brand: #7041ee;
  --color-brand-accent: #8d67f1;
  --color-brand-65: rgb(111, 64, 236 / 0.65);
  --color-brand-35: rgb(111, 64, 236 / 0.35);
  --color-danger: #ff5964;

  font-family: 'Inter', 'Avenir', 'Helvetica', 'Arial', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: $color-font;
  background-color: $color-bg;
  font-synthesis: none;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  // light
  --color-font: #1a1a1a;
  --color-font-85: rgb(26 26 26 / 0.85);
  --color-font-65: rgb(26 26 26 / 0.65);
  --color-font-35: rgb(26 26 26 / 0.35);
  --color-shadow: rgb(0 0 0 / 0.12);
  --color-scrollbar: #424242;
  --color-border: #ccc;
  --color-bg: #fff;
  --color-bg-accent: #f8f4f1;
}

.dark {
  --color-font: #e5e5e5;
  --color-font-85: rgb(229 229 229 / 0.85);
  --color-font-65: rgb(229 229 229 / 0.65);
  --color-font-35: rgb(229 229 229 / 0.35);
  --color-shadow: rgb(255 255 255 / 0.12);
  --color-scrollbar: #424242;
  --color-border: #545454;
  --color-bg: #242424;
  --color-bg-accent: #2c2c2c;
}

html {
  text-align: left;
  font-size: 16px;
  line-height: 1.7;
  font-weight: 400;
  word-wrap: break-word;
}

html,
body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3 {
  font-weight: 600;
  color: $color-font-85;
}

h1 {
  font-size: 16px;
  line-height: 1.4;
  letter-spacing: -0.02em;
  margin: 0 0 $offset-xs;
}

h2 {
  font-size: 24px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  margin: 0 0 $offset-sm;
}

h3 {
  font-size: 19px;
  letter-spacing: -0.01em;
  margin: 0 0 $offset-md;
}

p {
  margin: $offset-md 0;
}

hr {
  margin: $offset-xl-rem 0;

  &.vertical {
    width: 1px;
    height: 80%;
    border: none;
    border-left: 1px solid $color-border;
    margin: 0 $offset-xl-rem;
  }
}

ol,
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

mark {
  color: inherit;
  background-color: $color-shadow;
}

a {
  font-weight: 500;
  text-decoration: inherit;

  @include link($color-brand, $color-brand-accent);
}

#app {
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

.icon {
  width: 1em;
  height: 1em;
  flex-shrink: 0;
  display: inline-block;
  mask-repeat: no-repeat;
  mask-position: center;
  background-color: currentcolor;
  user-select: none;

  @each $_name in [ 'top', 'user'] {
    &--#{$_name} {
      mask-image: url('/sprite.svg#' + $_name);
    }
  }
}

.visually-hidden {
  @include visually-hidden;
}

.container {
  min-height: 100%;
  box-sizing: border-box;
  padding: $offset-lg-rem;
  overflow: hidden;

  &--center {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
}

// ↓↓↓ Margin & padding

@each $size-prefix, $size in (0: 0, xs: 0.5, sm: 0.75, md: 1, lg: 1.5, xl: 2) {
  @each $direction-prefix, $direction in ('': '', t: -top, r: -right, l: -left, b: -bottom) {
    .m#{$direction-prefix}-#{$size-prefix} {
      @if $size == 0 {
        margin#{$direction}: #{$size};
      } @else {
        margin#{$direction}: #{$size + rem};
      }
    }

    $min: $size >= 1;
    $max: $size < 2;

    @if $min and $max {
      .m#{$direction-prefix}-#{$size-prefix}-n {
        margin#{$direction}: -#{$size + rem};
      }
    }
  }
}

/** ↓↓↓ Scrollbar */

::-webkit-scrollbar {
  width: 0.45em;

  &-track {
    border-radius: 0.5em;
    background: rgba($color-scrollbar, 0.2);
  }

  &-thumb {
    border-radius: 0.5em;
    background: $color-scrollbar;
  }

  &-corner {
    background: transparent;
  }
}

/** ↓↓↓ Animation */

.fade {
  &-enter-active,
  &-leave-active {
    transition: opacity $timeout-lg;
  }

  &-enter-from,
  &-leave-to {
    opacity: 0;
  }
}

.list {
  &-enter-active {
    transition:
      opacity $timeout-lg ease,
      transform $timeout-lg ease;
  }

  &-leave-active {
    transition:
      opacity $timeout-md ease,
      transform $timeout-md ease;
  }

  &-enter-from,
  &-leave-to {
    opacity: 0;
    transform: translateX(1em);
  }
}
