@use 'sass:color';
@use 'sass:map';

/** ↓↓↓ Colors */

$color-white: #fff;
$color-black: #111;

$color-brand: var(--color-brand);
$color-brand-accent: var(--color-brand-accent);
$color-brand-65: var(--color-brand-65);
$color-brand-35: var(--color-brand-35);

$color-font: var(--color-font);
$color-font-85: var(--color-font-85);
$color-font-65: var(--color-font-65);
$color-font-35: var(--color-font-35);

$color-danger: var(--color-danger);
$color-border: var(--color-border);

$color-bg: var(--color-bg);
$color-bg-accent: var(--color-bg-accent);

$color-shadow: var(--color-shadow);
$color-scrollbar: var(--color-shadow);
$color-scrollbar-thumb: $color-brand-35;

$shadow: 0 0 8px 0 $color-shadow;

$border-radius-sm: 6px;
$border-radius-md: 12px;
$border-radius-lg: 24px;

/** ↓↓↓ Animations */

$timeout-sm: 0.2s;
$timeout-md: 0.35s;
$timeout-lg: 0.5s;
$timeout-xl: 1s;

/** ↓↓↓ Margin & padding */

$offset-xs: 0.5em;
$offset-sm: 0.75em;
$offset-md: 1em;
$offset-lg: 1.5em;
$offset-xl: 2em;
$offset-xxl: 3em;

$offset-xs-rem: 0.5rem;
$offset-sm-rem: 0.75rem;
$offset-md-rem: 1rem;
$offset-lg-rem: 1.5rem;
$offset-xl-rem: 2rem;
$offset-xxl-rem: 3rem;

/** ↓↓↓ Breakpoints */

$breakpoint-xs: 480px;
$breakpoint-sm: 768px;
$breakpoint-md: 1280px;
$breakpoint-lg: 1440px;
$breakpoint-xl: 1920px;

/** ↓↓↓ Media */

$media-phone: '(min-width: #{$breakpoint-xs})';
$media-tablet: '(min-width: #{$breakpoint-sm})';
$media-laptop: '(min-width: #{$breakpoint-md})';
$media-desktop: '(min-width: #{$breakpoint-lg})';

$media-tablet-max: '(min-width: #{$breakpoint-xs - 1px}) and (max-width: #{$breakpoint-sm})';
$media-laptop-max: '(min-width: #{$breakpoint-sm - 1px}) and (max-width: #{$breakpoint-md})';

/** ↓↓↓ Paths */

$sprite-path: 'icon/sprite.svg';
